body {
    margin: 0;
    padding: 0;
    font-family: 'Bangers', cursive;
    background-color:rgba(115, 44, 122, 0.548);
    box-sizing: border-box;
}

@media screen and (max-width: 480px) {
    img {
        width: auto;
    }
}

h1 {
    text-align: center;
    padding: 50px 0 20px 0;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 100px;
}

#you {
    grid-area: you;
    justify-self: center;
    color: rgb(37, 37, 63);
}

#computer {
    grid-area: computer;
    justify-self: center;
    color: rgb(37, 37, 63);
}

.player-score {
    grid-area: playerscore;
    justify-self: center;
}

#divider {
    grid-area: divider;
    justify-self: center;
}

.computer-score {
    grid-area: computerscore;
    justify-self: center;
}

.score-tally {
    width: 300px;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        'you . computer'
        'playerscore divider computerscore';
    font-size: 40px;
    margin-bottom: 50px;
}


.options {
    display: flex;
    height: auto;
    width: auto;
    margin: auto;
    justify-content: space-evenly;
}


img {
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    height: auto;
    border: none;
    transition: border .05s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

img:hover {
    box-shadow: none;
    border: solid black 5px;
}

.round-result {
    margin-top: 30px;
    color:rgba(2, 78, 53, 0.719);
    font-size: 20px;
    text-align: center;
    padding: 20px;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
}

.newgame {
    box-sizing: border-box;
    font-size: 20px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    display: block;
    border: none;
    background-color: #b28bb5;
    transition: border .05s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.newgame:hover {
    box-shadow: none;
    border: solid black 3px;
  }